extends common/layout

block content
  .row.justify-content-center
    .col-md-10
      h1.mb-4.text-center Food Search
      
      .search-section.mb-4
        form(action="/food" method="GET")
          .input-group
            input.form-control(type="text" name="q" value=query placeholder="Search for food...")
            button.btn.btn-primary(type="submit") Search

      if foods && foods.length > 0
        .food-list
          each food in foods
            .card.mb-3
              .card-body
                h5.card-title= food.name
                .row
                  .col-md-4
                    p.mb-1 Calories: #{food.calories}
                    p.mb-1 Protein: #{food.protein}g
                    p.mb-1 Carbs: #{food.carbs}g
                    p.mb-1 Fat: #{food.fat}g
                  .col-md-4
                    p.mb-1 Fiber: #{food.fiber}g
                    p.mb-1 Sugar: #{food.sugar}g
                    p.mb-1 Serving Size: #{food.servingSize}g
                    p.mb-1 Sodium: #{food.sodium}mg
                  .col-md-4
                    p.mb-1 Potassium: #{food.potassium}mg
                    p.mb-1 Saturated Fat: #{food.saturatedFat}g
                    p.mb-1 Cholesterol: #{food.cholesterol}mg
                form(action="/addfood" method="POST")
                  input(type="hidden" name="name" value=food.name)
                  input(type="hidden" name="calories" value=food.calories)
                  input(type="hidden" name="protein" value=food.protein)
                  input(type="hidden" name="carbs" value=food.carbs)
                  input(type="hidden" name="fat" value=food.fat)
                  input(type="hidden" name="sugar" value=food.sugar)
                  input(type="hidden" name="fiber" value=food.fiber)
                  input(type="hidden" name="sodium" value=food.sodium)
                  input(type="hidden" name="potassium" value=food.potassium)
                  input(type="hidden" name="saturatedFat" value=food.saturatedFat)
                  input(type="hidden" name="cholesterol" value=food.cholesterol)
                  button.btn.btn-success(type="submit") Add to Meal
      else if query
        p.text-center No results found for "#{query}"

    .col-md-10.mt-4
      .recommended-foods
        h2.mb-4.text-center Healthy Food Recommendation
        .food-recommendations
          a.food-item(href="/food?q=blueberries")
            .food-info
              .food-name Blueberries
              .food-benefit Rich in antioxidants
          
          a.food-item(href="/food?q=salmon")
            .food-info
              .food-name Salmon
              .food-benefit Rich in Omega-3
          
          a.food-item(href="/food?q=spinach")
            .food-info
              .food-name Spinach
              .food-benefit Rich in iron
          
          a.food-item(href="/food?q=quinoa")
            .food-info
              .food-name Quinoa
              .food-benefit Complete protein
          
          a.food-item(href="/food?q=avocado")
            .food-info
              .food-name Avocado
              .food-benefit Healthy fat
